<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- my css link -->
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
    <title>Menu</title>
</head>
<body>
    <nav id="small-logo">
        <a href="{% url 'main:index' %}">
            <img src="{% static 'menu/images/small_logo.png' %}" alt="logo restaurant">
        </a>
    </nav>
    <div class="fil-ariane">
        <a href="{% url 'main:index' %}">Accueil</a>
        -
        <a href="{% url 'menu:index' %}">Menu</a>
    </div>

    <h1 align="center">Notre Menu</h1>

    <div class="menu-content">
        <div class="pizza-content">
            <a href="{% url 'pizzas:index' %}"><span>Pizzas</span></a>
        </div>
        <div class="pattes-content">
            <a href="{% url 'pattes:index' %}"><span>Pattes</span></a>
        </div>
    </div>

</body>
</html>